---
layout: default
title: Sheimi's Hive 
---

<section class="tag-cloud shadow-box">
  <h2>Tag Cloud</h2>
  <div class="cloud">
    <a style="font-size: 1.5em" href="/archives/tags.html#all" data-tag="all">All</a>
    {% tag_cloud font-size: 0.8 - 2em%}
  </div>
</section>

<section class="blog-posts shadow-box">
  <h2>Posts of <span class="filter-result">All</span></h2>
  <ul class="posts">
    {% for post in site.posts %}
    <li class="row" data-tags="[{% for tag in post.tags %}'{{tag}}',{%endfor%}'all']" data-hide="false">
      <span class="span2">{{ post.date | date_to_string }} &raquo;</span>
      <span class="span4 offset1"><a href="{{ post.url }}" class="inner-link">{{ post.title }}</a></span>
    </li>
    {% endfor %}
  </ul>
</section>

<script src="/static/js/tags.js"></script>
