@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url('/static/fonts/fontello.eot');
  src: url('/static/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/fontello.woff') format('woff'),
       url('/static/fonts/fontello.ttf') format('truetype'),
       url('/static/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: fontello;
  font-style: normal;
  speak: none;

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-mail:before { content: "✉"; } /* '\2709' */
.icon-rss-alt:before { content: ""; } /* '\e73b' */
.icon-twitter-bird-1:before { content: ""; } /* '\e800' */
.icon-github:before { content: ""; } /* '\f308' */
.icon-googleplus-rect:before { content: ""; } /* '\f309' */
