@import 'mixins.less';
@import 'variables.less';

@border-color: #E5E5E5;

/* * * * * * * Default * * * * * */
body {
  background-image: url(/static/images/bg.gif);
  background-color: #FFF04D;
  background-attachment: fixed;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-color: #FFF04D;
}
body, p {
  font-family: 'Luxi Sans', 'Lucida Grande', 'Hiragino Sans GB', sans-serif;
}
.list-date {
  font-family: 'Lucida Console', Monaco, monospace;
}
a {
  color: @linkColor;
  @transition: all 0.3s linear;
  .transition(@transition);
  &:visited { color: @linkColor; }
  &:hover { color: @linkColorHover; text-decoration: none;}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.posts {
    padding: 0;
    li {
      line-height: 1.75em;
    }
    article.post {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid @border-color;
    }
  }
}
#post .day {
  padding: 0;
}
.meta {
  margin-top: 30px;
  text-align: center;
  .date {
    height: auto;
    text-align: center;
    margin-bottom: 15px;
    background: #CAD7F0;
    border: 4pt solid #fff;
    @radius: 100px;
    .border-radius(@radius);
    @box-shadow: 0 0px 3px #b7b7b7;
    .box-shadow(@box-shadow);
    @shadow: 0 0px 3px #b7b7b7;
    padding: 10px 30px;
    text-shadow: 0px 1px #81bcd1;
    .month, .day, .year {
      display: block;
      color: @white;
    }
    .day {
      font-size: 36px;
      padding: 6px 0 6px 0;
    }
  }
  .date, .location, .author {
    color: @grayLight;
    display: block;
  }
  .location, .author {
    font-size: 13px;
    line-height: 1.3em;
  }
  ul.post-tags {
    margin: 0;
    padding: 0;
  }
}
.header #title, .header .contact-header, .header #navigate {
  @transition: all 0.3s ease-in-out;
  .transition(@transition);
}
body {
  .header {
    #title {
      font-size: 38px;
      a {
        display: inline-block;
        padding: 8px;
      }
    }
    .header-container-wrapper {
      padding: 0;
    }
    .header-img {
      img {
        width: 100%;
      }
    }
  }
}
#navigate {
  list-style-type: none;
  text-align: right;
  a {
    font-size: 16px;
    padding: 30px 8px 15px 8px;
    font-weight: bold;
    display: inline-block;
    &:hover {
      border-bottom: 3px solid @linkColorHover;
    }
  }
}
.contact {
  text-align: center;
  list-style: none;
  a {
    padding: 8px 3px;
    display: inline-block;
    font-size: 16px;
    color: #797F82;
    &:hover {
      color: #575D60;
      .rotate(380deg);
    }
  }
}
.main-content {
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 0;
  background-color: @white;
  @box-shadow: 0 10px 80px 0 rgba(0,0,0,0.2);
  .box-shadow(@box-shadow);
  .site-main {
    padding: 20px;
    .archives h1 {
      text-align: center;
    }
    h1.post-title {
      font-size: 2.4em;
      padding: 20px 0;
      a {

      }
    }
    h2 {
      font-size: 1.5em;
      border-bottom: solid 1px @grayLighter;
      font-weight: 400;
      margin: 10px 0;
      padding: 5px 0;
    }
    h3 {
      font-size: 1.3em;
      font-weight: 300;
    }
  }
}

.post {
  p {
    line-height: 1.8em;
  }
  div.highlight pre {
    border:0;
    @radius: 0;
    .border-radius(@radius);
    background-color: #FAFBFF;
    border-left: 3px solid #D4E5FA;
  }
  .content {
    color: @gray;
    font-size: 1.1em;
    p, li, ul {
      font-size: 1em;
      margin-top: 5px;
    }
    li {
      line-height: 1.5em;
    }
  }
  ul, ol {
    margin-left: 1.35em;
  }
  .end-tag {
    margin-top: 20px;
    a {
      color: #8085C1;
      &:visited {
        color: #8085C1;
      }
    }
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
  blockquote {
    font-size: 14px;
    background-color: #FAFBFF;
    border-left: 3px solid #D4E5FA;
    ul {
      margin: 0;
      padding: 0;
    }
  }
}

.sider {
  .recent-posts ul {
    padding: 0;
    li {
      line-height: 1.8em;
    }
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  text-align: center;
  border-top: 1px solid @border-color;
  background-color: @white;
  a {
    color: #8085C1;
    &:visited {
      color: #8085C1;
    }
  }
  p {
    margin: 1em 0;
  }
}

@media (max-width: 767px) {
  .main-content {
    margin: 0;
  }
  #title,  #navigate {
    text-align: center;
  }
  .meta {
    .author, .location {
      display: inline-block;
      margin-left: 10px;
    }
    .date {
      @radius: 0;
      .border-radius(@radius);
      .day, .month, .year {
        display: inline;
      }
      .day {
        font-size: 14px;
      }
    }
  }
  .sider {
    display: none;
  }
}

@media (min-width: 768px) {
  .meta {
    .date {
      width: 114px;
    }
  }
}
@media (min-width: 992px) {
  .meta {
    .date {
      width: 114px;
      margin-left: 19px;
    }
  }
}
@media (min-width: 1200px) {
  .meta {
    .date {
      width: 114px;
      margin-left: 35px;
    }
  }
}
