.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{background-color:#e5e5e5;}
body,p{font-family:'Luxi Sans','Lucida Grande','Hiragino Sans GB',sans-serif;}
a{color:#0088cc;}a:visited{color:#0088cc;}
a:hover{color:#005580;}
ul{list-style-type:none;margin:0;}ul.posts li{line-height:1.75em;}
.date,.location{color:#999999;font-family:Monaco,"Courier New",monospace;}
.shadow-box{background:#ffffff;padding:5px 20px 30px 20px;margin-bottom:40px;-webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);}.shadow-box#disqus_thread{padding:20px;}
.header #title,.header .contact-header,.header #navigate{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
body{margin-top:70px;}body .header{padding:0;position:fixed;top:0;left:0;right:0;z-index:10;cursor:pointer;}body .header #title{font-size:18px;text-align:center;}body .header #title a{display:inline-block;padding:8px;}
body .header .header-container-wrapper{background-color:#ffffff;padding:0;}
body .header .sdw{border-top:solid 1px #eeeeee;margin:auto;background:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent));-webkit-mask-box-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.8)), color-stop(1, rgba(0, 0, 0, 0)));background-image:-moz-radial-gradient(top, ellipse farthest-side, rgba(0, 0, 0, 0.3), transparent);height:6px;opacity:1;}
body .header .contact-header{text-align:center;list-style:none;}body .header .contact-header a{padding:8px 3px;display:inline-block;font-size:16px;color:#797F82;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;}body .header .contact-header a:hover{color:#575D60;-webkit-transform:rotate(380deg);-moz-transform:rotate(380deg);-ms-transform:rotate(380deg);-o-transform:rotate(380deg);transform:rotate(380deg);}
#navigate{list-style-type:none;text-align:center;}#navigate a{font-size:14px;padding:8px;font-weight:bold;display:inline-block;color:#8085C1;}#navigate a:visited{color:#8085C1;}
.main-content .site-main .archives h1{margin-bottom:30px;}
.main-content .site-main h1{text-align:center;font-size:1.7em;}
.main-content .site-main h2{font-size:1.5em;border-bottom:solid 1px #eeeeee;font-weight:400;margin:15px 0 10px 0;}
.main-content .site-main h3{font-size:1.3em;font-weight:300;}
.main-content .site-main h1,.main-content .site-main h2,.main-content .site-main h3,.main-content .site-main h4,.main-content .site-main h5,.main-content .site-main h6{color:#777777;}.main-content .site-main h1 a,.main-content .site-main h2 a,.main-content .site-main h3 a,.main-content .site-main h4 a,.main-content .site-main h5 a,.main-content .site-main h6 a{color:#999999;}.main-content .site-main h1 a:visited,.main-content .site-main h2 a:visited,.main-content .site-main h3 a:visited,.main-content .site-main h4 a:visited,.main-content .site-main h5 a:visited,.main-content .site-main h6 a:visited{color:#999999;}
.main-content .site-main h1 a:hover,.main-content .site-main h2 a:hover,.main-content .site-main h3 a:hover,.main-content .site-main h4 a:hover,.main-content .site-main h5 a:hover,.main-content .site-main h6 a:hover{color:#777777;}
.post div.highlight pre{background-color:#fafafa;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.post .meta{float:right;right:-20px;top:-5px;background-color:#f0f0f0;padding:3px;position:relative;color:#999999;-webkit-border-radius:0 0 0 2px;-moz-border-radius:0 0 0 2px;border-radius:0 0 0 2px;}.post .meta span{margin:0 5px;font-size:12px;}
.post .content{color:#555555;font-size:1.1em;}.post .content p,.post .content li,.post .content ul{font-size:1em;margin-top:5px;}
.post .content li{line-height:1.5em;}
.post ul,.post ol{margin-left:1.35em;}
.post .end-tag{margin-top:20px;}.post .end-tag a{color:#8085C1;}.post .end-tag a:visited{color:#8085C1;}
.post .end-tag span{display:block;margin-bottom:5px;}
.footer{font-size:80%;color:#666;background:#ffffff;border-top:solid #DDD 1px;-webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);}.footer.fix-bottom{position:fixed;left:0;right:0;bottom:0;}
.footer a{color:#8085C1;}.footer a:visited{color:#8085C1;}
.footer .rss{margin-top:1.1em;}.footer .rss img{height:5.5em;border:0;}
.footer p{margin:1em 0;}
@media (max-width:767px){body{margin-top:80px;} #github-flag,.contact-header,.footer{display:none;}}
@charset "UTF-8";
@font-face{font-family:'fontello';src:url('/static/fonts/fontello.eot');src:url('/static/fonts/fontello.eot?#iefix') format('embedded-opentype'),url('/static/fonts/fontello.woff') format('woff'),url('/static/fonts/fontello.ttf') format('truetype'),url('/static/fonts/fontello.svg#fontello') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:fontello;font-style:normal;speak:none;display:inline-block;width:1.1em;margin-right:.1em;text-align:center;}
.the-icons li{font-size:14px;line-height:24px;height:24px;}
.icon-mail:before{content:"✉";}
.icon-rss-alt:before{content:"";}
.icon-twitter-bird-1:before{content:"";}
.icon-github:before{content:"";}
.icon-googleplus-rect:before{content:"";}
.hll{background-color:#ffffcc;}
.c{color:#60a0b0;font-style:italic;}
.err{border:1px solid #ff0000;}
.k{color:#007020;font-weight:bold;}
.o{color:#666666;}
.cm{color:#60a0b0;font-style:italic;}
.cp{color:#007020;}
.c1{color:#60a0b0;font-style:italic;}
.cs{color:#60a0b0;background-color:#fff0f0;}
.gd{color:#a00000;}
.ge{font-style:italic;}
.gr{color:#ff0000;}
.gh{color:#000080;font-weight:bold;}
.gi{color:#00a000;}
.go{color:#808080;}
.gp{color:#c65d09;font-weight:bold;}
.gs{font-weight:bold;}
.gu{color:#800080;font-weight:bold;}
.gt{color:#0040d0;}
.kc{color:#007020;font-weight:bold;}
.kd{color:#007020;font-weight:bold;}
.kn{color:#007020;font-weight:bold;}
.kp{color:#007020;}
.kr{color:#007020;font-weight:bold;}
.kt{color:#902000;}
.m{color:#40a070;}
.s{color:#4070a0;}
.na{color:#4070a0;}
.nb{color:#007020;}
.nc{color:#0e84b5;font-weight:bold;}
.no{color:#60add5;}
.nd{color:#555555;font-weight:bold;}
.ni{color:#d55537;font-weight:bold;}
.ne{color:#007020;}
.nf{color:#06287e;}
.nl{color:#002070;font-weight:bold;}
.nn{color:#0e84b5;font-weight:bold;}
.nt{color:#062873;font-weight:bold;}
.nv{color:#bb60d5;}
.ow{color:#007020;font-weight:bold;}
.w{color:#bbbbbb;}
.mf{color:#40a070;}
.mh{color:#40a070;}
.mi{color:#40a070;}
.mo{color:#40a070;}
.sb{color:#4070a0;}
.sc{color:#4070a0;}
.sd{color:#4070a0;font-style:italic;}
.s2{color:#4070a0;}
.se{color:#4070a0;font-weight:bold;}
.sh{color:#4070a0;}
.si{color:#70a0d0;font-style:italic;}
.sx{color:#c65d09;}
.sr{color:#235388;}
.s1{color:#4070a0;}
.ss{color:#517918;}
.bp{color:#007020;}
.vc{color:#bb60d5;}
.vg{color:#bb60d5;}
.vi{color:#bb60d5;}
.il{color:#40a070;}
.hll{background-color:#ffffcc;}
.c{color:#aaaaaa;font-style:italic;}
.err{color:#F00000;background-color:#f0a0a0;}
.k{color:#0000aa;}
.cm{color:#aaaaaa;font-style:italic;}
.cp{color:#4c8317;}
.c1{color:#aaaaaa;font-style:italic;}
.cs{color:#0000aa;font-style:italic;}
.gd{color:#aa0000;}
.ge{font-style:italic;}
.gr{color:#aa0000;}
.gh{color:#000080;font-weight:bold;}
.gi{color:#00aa00;}
.go{color:#888888;}
.gp{color:#555555;}
.gs{font-weight:bold;}
.gu{color:#800080;font-weight:bold;}
.gt{color:#aa0000;}
.kc{color:#0000aa;}
.kd{color:#0000aa;}
.kn{color:#0000aa;}
.kp{color:#0000aa;}
.kr{color:#0000aa;}
.kt{color:#00aaaa;}
.m{color:#009999;}
.s{color:#aa5500;}
.na{color:#1e90ff;}
.nb{color:#00aaaa;}
.nc{color:#00aa00;text-decoration:underline;}
.no{color:#aa0000;}
.nd{color:#888888;}
.ni{color:#800000;font-weight:bold;}
.nf{color:#00aa00;}
.nn{color:#00aaaa;text-decoration:underline;}
.nt{color:#1e90ff;font-weight:bold;}
.nv{color:#aa0000;}
.ow{color:#0000aa;}
.w{color:#bbbbbb;}
.mf{color:#009999;}
.mh{color:#009999;}
.mi{color:#009999;}
.mo{color:#009999;}
.sb{color:#aa5500;}
.sc{color:#aa5500;}
.sd{color:#aa5500;}
.s2{color:#aa5500;}
.se{color:#aa5500;}
.sh{color:#aa5500;}
.si{color:#aa5500;}
.sx{color:#aa5500;}
.sr{color:#009999;}
.s1{color:#aa5500;}
.ss{color:#0000aa;}
.bp{color:#00aaaa;}
.vc{color:#aa0000;}
.vg{color:#aa0000;}
.vi{color:#aa0000;}
.il{color:#009999;}
