<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Sheimi" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Sheimi's Hive</a>
    <a class="extra" href="/">Home</a>
    <a class="extra" href="/notes.html">Notes</a>
    <a class="extra" href="/about.html">About</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Sheimi | Student of <br/>
        <a href="http://www.nju.edu.cn/">Nanjing University</a></br>
        <a href="http://software.nju.edu.cn/">Software Institute</a></br>
      </p>
    </div>
    <div class="contact">
      <p>
        Github:  <a href="http://github.com/sheimi/">github.com/sheimi</a><br />
        Twitter: <a href="http://twitter.com/sheimi_nju/">@sheimi_nju</a><br />
        Email:   <a href="sheimi.zhang@gmail.com">sheimi.zhang@gmail.com</a></br>
      </p>
    </div>
    <div class="copyleft">
      <p>
        Copyleft&copy; <a href="http://sheimi.me">Sheimi's Hive</a></br>
        Forked from <a href="https://github.com/mojombo/mojombo.github.com">mojombo.github.com</a></br>
        Modified by Sheimi </br>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/sheimi-hive">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed">
      </a>
  </div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29300274-1']);
      _gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
<!-- Google Analytics end -->

</script>

</body>
</html>
