<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Sheimi" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <script src="/js/jquery-1.7.1.min.js"></script>
  <script src="/js/modernizr.js"></script>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="row">
      <ul class="contact-header">
        <li><a href="http://feeds.feedburner.com/sheimi-hive"><i class="icon-rss-alt"></i></a></li>
        <li><a href="https://plus.google.com/102631912588694400657/posts"><i class="icon-googleplus-rect"></i></a></li>
        <li><a href="http://twitter.com/sheimi_nju"><i class="icon-twitter-bird-1"></i></a></li>
        <li><a href="https://github.com/sheimi/"><i class="icon-github"></i></a></li>
        <li><a href="mailto:sheimi.zhang@gmail.com"><i class="icon-mail"></i></a></li>
      </ul>
      <h1 class="span6 offset3"><a href="/" title="Home">Sheimi's Hive</a></h1>
    </div>
  </div>
  <div class="container sdw"></div>
</header>
<section class="container about">
  <h4>
    <span><a href="/">Home</a></span>
    <span><a href="/about">About</a></span>
    <span><a href="/archives">Archives</a></span>
    <span><a href="/archives/tags.html">Tags Cloud</a></span>
  </h4>
  <hr>
</section>
<section class="container main-content">
  <div class="row">
    <section class="site-main span10 offset1">
    {{ content }}
    </section>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <div class="row">
          <section class="contact span3">
            <p>
              Sheimi | Student of <br>
              <a href="http://www.nju.edu.cn/">Nanjing University</a><br>
              <a href="http://software.nju.edu.cn/">Software Institute</a><br>
            </p>
          </section>
          <section class="contact span3">
            <p>
              Github:  <a href="http://github.com/sheimi/">github.com/sheimi</a><br>
              Twitter: <a href="http://twitter.com/sheimi_nju/">@sheimi_nju</a><br>
              Email:   <a href="mailto:sheimi.zhang@gmail.com">sheimi.zhang@gmail.com</a><br>
            </p>
          </section>
          <section class="copyleft span3 offset1">
            <p>
              Copyleft&copy; <a href="http://sheimi.me">Sheimi's Hive</a><br>
              Forked from <a href="https://github.com/mojombo/mojombo.github.com">mojombo.github.com</a><br>
              Modified by Sheimi <br>
            </p>
          </section>
          <!--
          <section class="rss span2 offset1">
            <a href="http://feeds.feedburner.com/sheimi-hive">
              <img src="/images/rss.png" alt="Subscribe to RSS Feed">
            </a>
          </section>
          -->
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/js/global.js"></script>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29300274-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</body>
</html>
