<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.owner.name }}" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <!-- Homepage CSS -->
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/static/css/site.css" type="text/css" media="screen, projection" />
  <script src="/static/js/jquery-1.7.1.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/modernizr.js"></script>
</head>
<body>
  <header class="header">
    <div class="header-container-wrapper">
      <div class="container">
        <div class="row">
          <div id="title" class="span3">
            <a href="/" title="Home" class="inner-link">{{ site.name }}</a>
          </div>
          <div id="navigate" class="span6 clearfix">
            <a href="/" class="inner-link">Home</a>
            <a href="/archives" class="inner-link">Archives</a>
            <a href="http://projects.sheimi.me" target="_blank">Projects</a>
            <a href="/archives/tags.html" class="inner-link">Tags Cloud</a>
          </div>
          <div class="span3 contact-header">
            <a class="bs-tooltip" data-toggle="tooltip"
              data-placement="bottom" data-original-title="Mail to me"
              href="mailto:{{ site.owner.email }}" target="_blank">
              <i class="icon-mail"></i>
            </a>
            <a class="bs-tooltip" data-toggle="tooltip"
              data-placement="bottom" data-original-title="Github Profile"
              href="https://github.com/{{ site.owner.github }}/" target="_blank">
              <i class="icon-github"></i>
            </a>
            <a class="bs-tooltip" data-toggle="tooltip"
              data-placement="bottom" data-original-title="Twitter"
              href="http://twitter.com/{{ site.owner.twitter }}/" target="_blank">
              <i class="icon-twitter-bird-1"></i>
            </a>
            <a class="bs-tooltip" data-toggle="tooltip"
              data-placement="bottom" data-original-title="Google+ Profile"
              href="https://plus.google.com/{{ site.owner.google_plus }}/about/"
              target="_blank">
              <i class="icon-googleplus-rect"></i>
            </a>
            <a class="bs-tooltip" data-toggle="tooltip"
              data-placement="bottom" data-original-title="Rss Feed"
              href="/atom.xml" target="_blank">
              <i class="icon-rss-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container sdw"></div>
  </header>
  <section class="container main-content">
    <div class="row">
      <section class="site-main span10 offset1">
        <div class="site-main-inner">
          {{ content }}
        </div>
      </section>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <div class="row">
            <section class="contact span3">
              <p>
                Sheimi | Student of <br>
                <a href="http://www.nju.edu.cn/" target="_blank">Nanjing University</a><br>
                <a href="http://software.nju.edu.cn/" target="_blank">Software Institute</a><br>
              </p>
            </section>
            <section class="contact span3 c2">
              <p>
                Github:  <a href="https://github.com/{{ site.owner.github }}/"
                  target="_blank">github.com/{{ site.owner.github }}</a><br>
                Twitter: <a href="http://twitter.com/{{ site.owner.twitter }}/"
                  target="_blank">@{{ site.owner.twitter }}</a><br>
                Email:   <a href="mailto:{{ site.owner.email }}"
                  target="_blank">{{ site.owner.email }}</a><br>
              </p>
            </section>
            <section class="copyleft span3 offset1">
              <p>
              Copyright &copy; <a href="{{ site.url }}"
                target="_blank">{{ site.name }}</a><br>
                Forked from <a
                  href="https://github.com/mojombo/mojombo.github.com"
                  target="_blank">mojombo.github.com</a><br>
                Modified by Sheimi <br>
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- Some Add-Ons -->
  </footer>

  <script src="/static/js/global.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.ga }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</body>
</html>
