---
layout: default
---

<article id="post">

  <h1><a href="{{page.url}}" class="inner-link">{{ page.title }}</a></h1>
  <section class="meta">
    <div class="inline">
      <span class="date">{{page.date | date_to_string}}</span><span>At {{page.meta.location}}</span>
    </div>
  </section>
  <section class="content">
    {{ content }}
    <p>~~~ That's All ~~~ *^o^* ~~~<p>
  </section>
  <hr>
  <section class="end-tag">
    <span class="author">Posted by Sheimi</span>
    <!--<span class="category">Category: <a
        href="/archives/#{{page.category}}"-->
    <span class="category">Category: <a href="/archives"
        class="inner-link">{{page.category}}</a></span>
    <span class="tags">
      Tags: 
      {% for tag in page.tags %}
      {% if forloop.index != 1 %}
      :
      {% endif %}
      <a href="/archives/tags.html#{{tag}}" class="inner-link">{{tag}}</a>
      {% endfor %}
    </span>
  </section>
</article>
<hr>
<div id="disqus_thread"></div>
<script src="/js/disqus.js"></script>
<hr>
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li class="row">
      <span class="span2">{{ post.date | date_to_string }} &raquo;</span>
      <span class="span4 offset1"><a href="{{ post.url }}" class="inner-link">{{ post.title }}</a></span>
    </li>
    {% endfor %}
  </ul>
</div>
<hr>
